.navbar-fixed-top {
  position: relative;
}

.nav-center {
  text-align: center;
}

.nav-center .navbar-nav {
  display: inline-block;
  float: none;
}

.router-link-active.router-link-active.router-link-active.router-link-active {
  background: red;
}
